* {
    padding: 0;
    margin: 0;

}
ul, li {
    list-style: none;
}

.login_header{
    text-align: left;
    margin-left: 30px;
}

body{
    --color-freeuni: yellow;
    --color-agruni: green;
    --color-background: #f1f180;
    background: var(--color-background);
}

.header_title{
    color: var(--color-agruni);
    margin-top: 20px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: var(--color-agruni);
    border-radius: 10px;
    margin-top: 150px;
    width: 400px;
    height: 360px;
    background-color: var(--color-freeuni);
    box-shadow: 6px 6px #caee5b;
    margin-bottom: 40px;
}

.login_form, .registration_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

.username, .password, .name, .second_name, .location, .mail, .session{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password{
    margin-top: 20px;
}

.input_name{
    font-size: 1.5em;
    color: #044f04;
}

.login_input, .registration_input{
    width: 220px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
}

.input_btn{
    width: 120px;
    height: 40px;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-agruni);
    font-size: 20px;
    cursor: pointer;

}

.registration_btn{
    width: 150px;
    height: 40px;
    color: white;
    margin-top: 20px;
    border: none;
    border-top: 1px solid;
    border-radius: 5px;
    background-color: #3140d6;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 3px;
}
.registration_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: var(--color-agruni);
    border-radius: 10px;
    margin-top: 30px;
    width: 400px;
    height: 580px;
    background-color: var(--color-freeuni);
    box-shadow: 6px 6px #caee5b;
    padding: 30px;
    margin-bottom: 40px;
}

.registration_btn_1{
    width: 150px;
    height: 40px;
    color: white;
    margin-top: 30px;
    border: none;
    border-top: 1px solid;
    border-radius: 5px;
    background-color: var(--color-agruni);
    font-size: 20px;
    cursor: pointer;
}

.registration_form{
    border: none;
}

.cancel{
    color: var(--color-agruni);
    text-decoration: none;
}

.session_numbers{
    height: 30px;
    width: 78px;
    font-size: 20px;
    margin-top: 5px;

    border-radius: 5px;
}

.session_number{
    font-size: 20px;
    text-align: center;
}

.locations{
    height: 30px;
    width: 220px;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 5px;
}

select{
    text-align: center;
}



.profile-info{
    display: grid;
    grid-template-columns: auto auto;
}

.info-titles, .info-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-titles{
    align-items: flex-end;
    margin-right: 10px;
    width: 200px;
}
.info-texts{
    align-items: flex-start;
}

.profile-name{
    margin-top: 20px;
    color: var(--color-agruni);
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.info-title, .info-text{
    color: var(--color-agruni);
    font-size: 30px;
    margin-top: 5px;

}

.info-title{
    font-weight: bold;
}

.menu-section{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-freeuni);
    width: 100vw;
}

.menu-nav{
    width: calc(100vw - 150px);
}

.menu-list{
    display: flex;
    align-items: center;
}

.menu-item{
    font-size: 25px;

}

.menu-item:hover{
    text-shadow: 1px 0px 0px var(--color-agruni);
}

.menu-item:not(:first-child){
    margin-left: 35px;
}

.menu-link{
    text-decoration: none;
    color: var(--color-agruni);
}

.sing-out{
    color: white;
    background-color: red;
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
    padding: 5px 10px ;
    border-radius: 15px;
    font-size: 23px;
}

.chat-menu-section{
    display: flex;
    height: 60px;
    align-items: center;
    background-color: var(--color-freeuni);
    width: 100vw;
}

.leave-chat{
    text-decoration: none;
    margin-left: 24px;
    background-color: #daf6b5;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 18px;
}

.chat-name{
    padding-left: 20vw;
    font-size: 30px;
    font-weight: bold;
    color:#051c8f;
}

.message-body{
    display: flex;
}

.messages-div{
    display: flex;
    flex-direction: column;
    background-color: #eeeaea;
    width: min(800px, 100vw);
    margin-left: 20px;
    height: calc(100vh - 90px);
    border: 2px solid;
    border-color: var(--color-agruni);
}

.write-text{
    display: flex;
    width: min(800px, 100vw);
    border-top: 1px solid;
    border-color: var(--color-agruni);
    height: 50px;

    background-color: #daf6b5;
    align-items: center;
}

.send-message{
    background-color: #00e1ff;
    width: 80px;
    border-radius: 10px;
    border-color: #00e1ff;
    color: #030ff6;

    font-size: 15px;
    margin: 0px 10px;
    height: 30px;
}

.user-message{
    height: 40px;
    width: min(700px, calc(100vw - 50px));
    margin-left: 20px;
    border-radius: 8px;
    border-color: var(--color-agruni);
}

.messages-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-box{
    height: calc(100vh - 140px);
    background-color: #daf6b6;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    transform: rotateX(180deg);
}

.message{

    background-color: #fff;
    margin: 0px 5px;
    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
    display: inline-block;
    max-width: 300px;
}

.sender-name{
    margin: 10px 10px 0px;
    color: #051c8f;
    font-size: 18px;
}

.send-time{
    margin: 0px 10px 10px;
    color: #6e6b6b;
    font-size: 15px;
    font-style: italic;
}

.my-message{
    background-color: #abc5f3;
    display: inline-block;
    max-width: 300px;

    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
    margin-left: 5px;
    text-align-last: right;
}

.message-info{
    display: flex;
    flex-direction: column;
    transform: rotateX(180deg);
    align-items: flex-start;
    margin-left: 5px;
}

.my-message-info{
    display: flex;
    flex-direction: column;
    transform: rotateX(180deg);
    align-items: flex-end;
    margin-right: 5px;
}

.members-div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 200px;
    padding-top: 20px;
}

.chat-section{
    display: flex;
    flex-direction: row;
}

.chat-member{
    font-size: 20px;
    color: #044f04;
    padding: 3px;
}

.send-private-message{
    background-color: #00e1ff;
    border: none;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.profile-body{
    display: flex;
    flex-direction: row;
}

.posts-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: #f3f3ad;
    width: 700px;
    margin-left: 30px;
    height: calc(100vh - 90px);
}

.profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 300px;
    background-color: #ceee6f;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.post{
    display: flex;
    flex-direction: column;
    background-color: #e1e99a;
    border-radius: 10px;
    box-shadow: #abc5f3 2px 3px;
    height: 230px;
    width: 600px;
    padding: 10px;
    margin-top: 20px;
}

.post-author{
    font-size: 23px;
    color: green;
}

.post-time{
    margin: 3px 10px 10px;
    color: #6e6b6b;
    font-size: 15px;
    font-style: italic;
}

.location-from{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    background-color: #ceee6f;
    padding: 5px 20px;
    width: 400px;
    box-shadow: #47d247 2px 2px 2px 2px;

}

.location-to{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    background-color: #ef7979;
    padding: 5px 20px;
    width: 400px;
    box-shadow: #f32c7c 2px 2px 2px 2px;

}

.location-parameter{
    font-size: 18px;
    color: #044f04;

}

.post-location{
    font-size: 20px;
    margin-left: 10px;
    color: #0d1d69;
}

.post-price{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    color: #e00c0c;
    font-weight: bold;
}

.post-footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.send-request{
    margin-left: 200px;
    margin-top: 10px;
    font-size: 20px;
    padding: 0px 10px 5px;
    border-radius: 10px;
    border: none;
    background-color: #51cb21;
    color: #a40505;
    cursor: pointer;
}

.post-author-date{
    display: flex;
    flex-direction: column;
}

.post-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-delete{
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;
    padding: 0px 10px 5px;
    border-radius: 10px;
    border: none;
    background-color: #f50321;
    color: #ffffff;
    cursor: pointer;
}

.make-post{
    background-color: #00e1ff;
    border: none;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.filter-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: #ceee6f;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.gel-symbol{
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.amount-input{
    width: 60px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
}

.amount-filter, .session-filter, .filter-btn{
    margin-top: 10px;
}

.filter-btn{
    margin-top: 10px;
    font-size: 20px;
    padding: 0px 10px 5px;
    border-radius: 10px;
    border: none;
    background-color: #1e39c8;
    color: #eee6e6;
    cursor: pointer;
    box-shadow: #a9b6f5 2px 2px;
}

.post-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border: 2px solid;
    border-color: var(--color-agruni);
    border-radius: 10px;
    margin-top: 70px;
    width: 500px;
    height: 250px;
    background-color: var(--color-freeuni);
    box-shadow: 6px 6px #caee5b;
}

.addPost-btn{
    margin-top: 30px;
    font-size: 20px;
    padding: 0px 10px 5px;
    border-radius: 10px;
    border: none;
    background-color: #1e39c8;
    color: #eee6e6;
    cursor: pointer;
    box-shadow: #a9b6f5 2px 2px;
    margin-left: 150px;
}
